{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esperando a otros picaitos..</title>

    <script>order = {};
    contents = {};</script>
</head>
<body>
<h1 id="titulo">Esperando picaitos</h1>
<div id="equipos">

    {% comment %}{% for t in teams %}
    <h2><u>{{ t.name }}</u></h2>
    {% for p in persons %}
        {% if p.team_id == t.id %}
            <h4>{{ p.first_name }}</h4>
        {% endif %}
    {% endfor %}
    <br>
{% endfor %}{% endcomment %}
</div>
<div id="ordenar">
    <br><br>
</div>

<input type="button" value="Empezar partida" id="empezar" disabled/>
<div id="juego">
    <div id="timer">
    <p id="counter"></p>
    </div>
    <div id="equiposPuntos">

    </div>
    <div id="sumapuntos" hidden>
        <img src="/js/img/minus.png" style="width: 5vw">
        <img src="/js/img/plus.png" style="width: 10vw"><br><br>
    </div>
        <button id="empezarturno" hidden>Empezar turno</button>


</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    var game =
    {{ game }}

</script>
<script type="text/javascript" src="/js/play.js"></script>
</body>
</html>

