{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Esperando a otros picaitos..</title>

    <script>order = {};
    contents = {};</script>
        <link rel="stylesheet" type="text/css" href="/js/css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">

</head>
<body>

<h1 class="tabu">TABÚ ONLINE</h1>
<h2 id="tabu" class="titulo">Esperando picaitos</h2>
<div id="equipos"class="">

    {% comment %}{% for t in teams %}
    <h2><u>{{ t.name }}</u></h2>
    {% for p in persons %}
        {% if p.team_id == t.id %}
            <h4>{{ p.first_name }}</h4>
        {% endif %}
    {% endfor %}
    <br>
{% endfor %}{% endcomment %}
</div>
<div id="ordenar">
    <br><br>
</div>

<div class="create" id = "empezar" style="background: white;text-align: center" hidden>
    <svg xmlns="http://www.w3.org/2000/svg" width="17vw" height="17vw" viewBox="0 0 23 23"><path d="M8 5v14l11-7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
</div>
<div id="juego">
    <div id="timer">
    <p id="counter"></p>
    </div>
    <div id="equiposPuntos" class="contenedor">
    <div id="equiposPuntos" class="contenedor">

    </div>
    <div id = "sumapuntos">
        <img src="/js/img/minus.png" style="width: 5vw" id="restar">
    <img src="/js/img/plus.png" style="width: 10vw" id="sumar"></button><br><br>
</div>
    </div>
        <button id="empezarturno" hidden>Empezar turno</button>


</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    var game =
    {{ game }}

</script>

<script type="text/javascript" src="/js/play.js"></script>
</body>
</html>

